/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Acrom";
  src: url("/fonts/Acrom.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bayon";
  src: url("/fonts/Bayon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.header {
  background-color: #080423;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: clamp(40px, 10.4vw, 124px);
  padding-left: clamp(16px, 4vw, 92px);
}

.logo {
  color: #ff3d81;
  font-size: clamp(12px, 5vw, 40px);
  letter-spacing: 9%;
  font-family: "Bayon", Arial, sans-serif;
  transform: translateY(3px);
  text-decoration: none;
}

.search-field {
  position: relative;
}

.search-field__input {
  border-radius: 60px;
  padding-left: 20px;
  border-color: 0px;
  width: clamp(120px, 30vw, 400px);
  height: 40px;
}

.search-field__input::placeholder {
  font-family: "Acrom", Arial;
  font-size: 16px;
}

.search-field__icon {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
}

main {
  padding: 60px;
}

.hero__inner {
  display: flex;
  width: 100%;
  height: 548px;
  background-color: #080423;
  border-radius: 10px;
  padding: 34px;
  gap: 35px;
}

.hero__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #ffffff;
  font-family: "Acrom", Arial;
}

.hero__attention {
  font-size: 30px;
  letter-spacing: 0%;
  font-weight: Bold;
}

.hero__title {
  margin-top: 95px;
  font-size: 60px;
  letter-spacing: 0%;
}

.hero__description {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0%;
  font-weight: 400;
}

.hero__button {
  border: none;
  cursor: pointer;
  width: 190px;
  height: 42px;
  background-color: #ff3d81;
  border-radius: 60px;
  margin-top: 46px;
  color: white;
  font-family: "Acrom", Arial;
  transition: 0.5s;
}

.hero__button:hover {
  background-color: #f6121d;
}

.hero__image-wrapper {
  flex: 1;
}

.hero__afisha {
  width: 100%;
  height: auto;
}

.catalog {
  margin-top: 60px;
}

.catalog__header {
  display: flex;
  gap: 80px;
}

.catalog__tab {
  font-family: "Acrom", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: #222121;
  background: transparent;
  cursor: pointer;
  padding: 12px 30px;
}

.catalog__tab:hover {
  background-color: #080423;
  border-radius: 60px;
  color: white;
  transition: 0.7s;
  padding: 12px 30px;
}

.catalog__grid {
  display: grid;
  margin-top: 60px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog__card {
  font-family: "Acrom", Arial, Helvetica, sans-serif;
}

.catalog-card__body {
  display: flex;
  gap: 80px;
}

.card__title {
  font-size: 18px;
  color: rgba(8, 4, 35, 1);
  font-weight: 500;
  margin-top: 10px;
}

.card__year {
  font-size: 16px;
  color: rgba(21, 21, 21, 0.28);
  font-weight: 500;
  margin-left: auto;
}

.card__rating {
  color: rgba(255, 210, 51, 1);
  font-size: 18px;
  margin-top: 28px;
}

@media (max-width: 1200px) {
  .hero__inner {
    gap: 25px;
  }

  .hero__attention {
    font-size: 25px;
  }

  .hero__title {
    margin-top: 50px;
    font-size: 50px;
    letter-spacing: 0%;
  }

  .hero__afisha {
    width: 100%;
    height: 425px;
  }
}

@media (max-width: 1000px) {
  .hero__inner {
    gap: 10px;
    flex-direction: column;
  }

  .hero__content {
    flex-direction: row;
    gap: 50px;
  }

  .hero__attention {
    font-size: 15px;
  }

  .hero__title {
    font-size: 35px;
    letter-spacing: 0%;
    margin-top: 20px;
  }

  .hero__description {
    font-size: 20px;
    margin-top: 0px;
  }

  .hero__button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
  }

  .hero__afisha {
    width: 100%;
    height: 280px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 30px;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__inner {
    gap: 15px;
    flex-direction: column;
  }

  .hero__attention {
    font-size: 20px;
  }

  .hero__title {
    margin-top: 20px;
    font-size: 45px;
    letter-spacing: 0%;
  }

  .hero__description {
    font-size: 15px;
  }

  .hero__afisha {
    width: 100%;
    height: 220px;
  }

  .hero__button {
    width: 150px;
    height: 45px;
    font-size: 12px;
    margin-top: 20px;
  }
}

@media (max-width: 510px) {
  main {
    padding: 30px;
  }

  .hero__inner {
    gap: 15px;
    flex-direction: column;
  }

  .hero__attention {
    font-size: 15px;
  }

  .hero__title {
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 0%;
  }

  .hero__description {
    font-size: 17px;
  }

  .hero__afisha {
    width: 100%;
    height: 220px;
  }

  .hero__button {
    width: 110px;
    height: 35px;
    font-size: 12px;
    margin-top: 20px;
  }
}
